#root{
    height: 200vh;
    width: 100%;
    background-image: url(../../assets/Fondo\ SVDR.png);
    background-repeat: no-repeat;
    background-attachment:initial;
    background-position: top;
    background-size: cover;
}
a{
    /* color:rgb(255, 0, 12); */
    font-size: 1.5rem;
};