.App{
    height: 200vh;
}
#root{
    height: 200vh;
    width: 100%;
    background-image: url(./assets/Fondo\ SVDR.png);
    background-repeat: no-repeat;
    background-attachment:initial;
    background-position: top;
    background-size: cover;
}
a{
    font-size: 1.3rem;
}